{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Search v2 - beta",
    "description" : "The Search API v2 provides a set of JSON:API compatible endpoints for searching the TIDAL metadata catalogue: albums, artists, tracks, videos, and more",
    "contact" : {
      "url" : "https://github.com/orgs/tidal-music/discussions"
    },
    "version" : "1.0.0",
    "x-url-compatible-spec-id" : "search-v2",
    "x-spec-default-endpoint-url-unique-name" : "get-searchresults-v2"
  },
  "externalDocs" : {
    "description" : "TIDAL Developer Documentation",
    "url" : "https://developer.tidal.com/documentation"
  },
  "servers" : [ {
    "url" : "https://openapi.tidal.com/v2",
    "description" : "Production"
  } ],
  "tags" : [ {
    "name" : "Search Results",
    "description" : "Search Results JSON:API endpoints"
  } ],
  "paths" : {
    "/searchresults/{query}" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Search for music metadata by a query",
        "description" : "Search for music: albums, artists, tracks, etc.",
        "operationId" : "getSearchResultsByQuery",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: artists, albums, tracks, videos, playlists, topHits",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "artists"
            }
          },
          "example" : "artists"
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Search_Results_Single_Data_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-v2",
          "json-api-available-relationships" : [ "artists", "albums", "tracks", "videos", "playlists", "topHits" ]
        }
      }
    },
    "/searchresults/{query}/relationships/videos" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: videos",
        "description" : "Search for videos by a query.",
        "operationId" : "getSearchResultsVideosRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: videos",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "videos"
            }
          },
          "example" : "videos"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Videos_Relationships_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-relationship-videos-v2",
          "json-api-available-relationships" : [ "videos" ]
        }
      }
    },
    "/searchresults/{query}/relationships/tracks" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: tracks",
        "description" : "Search for tracks by a query.",
        "operationId" : "getSearchResultsTracksRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: tracks",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "tracks"
            }
          },
          "example" : "tracks"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Tracks_Relationships_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-relationship-tracks-v2",
          "json-api-available-relationships" : [ "tracks" ]
        }
      }
    },
    "/searchresults/{query}/relationships/topHits" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: topHits",
        "description" : "Search for top hits by a query: artists, albums, tracks, videos.",
        "operationId" : "getSearchResultsTopHitsRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: topHits",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "topHits"
            }
          },
          "example" : "topHits"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Search_Results_Top_Hits_Relationship_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-relationship-tophits-v2",
          "json-api-available-relationships" : [ "topHits" ]
        }
      }
    },
    "/searchresults/{query}/relationships/playlists" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: playlists",
        "description" : "Search for playlists by a query.",
        "operationId" : "getSearchResultsPlaylistsRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Searh query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: playlists",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "playlists"
            }
          },
          "example" : "playlists"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Playlists_Relationship_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-relationship-playlists-v2",
          "json-api-available-relationships" : [ "playlists" ]
        }
      }
    },
    "/searchresults/{query}/relationships/artists" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: artists",
        "description" : "Search for artists by a query.",
        "operationId" : "getSearchResultsArtistsRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: artists",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "artists"
            }
          },
          "example" : "artists"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "Successfully executed request.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Relationship_Document"
                }
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "json-api-available-filters" : [ ],
          "url-compatible-unique-name" : "get-searchresults-relationship-artists-v2",
          "json-api-available-relationships" : [ "artists" ]
        }
      }
    },
    "/searchresults/{query}/relationships/albums" : {
      "get" : {
        "tags" : [ "Search Results" ],
        "summary" : "Relationship: albums",
        "description" : "Search for albums by a query.",
        "operationId" : "getSearchResultsAlbumsRelationship",
        "parameters" : [ {
          "name" : "query",
          "in" : "path",
          "description" : "Search query",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "moon"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: albums",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "albums"
            }
          },
          "example" : "albums"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            },
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
[...]
