{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Catalogue v2 - beta",
    "description" : "The Catalogue API v2 provides a set of JSON:API compatible endpoints for accessing the TIDAL metadata catalogue: albums, artists, tracks, videos, and more",
    "contact" : {
      "url" : "https://github.com/orgs/tidal-music/discussions"
    },
    "version" : "1.0.0",
    "x-url-compatible-spec-id" : "catalogue-v2",
    "x-spec-default-endpoint-url-unique-name" : "get-single-album"
  },
  "externalDocs" : {
    "description" : "TIDAL Developer Documentation",
    "url" : "https://developer.tidal.com/documentation"
  },
  "servers" : [ {
    "url" : "https://openapi.tidal.com/v2",
    "description" : "Production"
  } ],
  "tags" : [ {
    "name" : "Albums"
  }, {
    "name" : "ArtistRoles"
  }, {
    "name" : "Artists"
  }, {
    "name" : "Providers"
  }, {
    "name" : "Tracks"
  }, {
    "name" : "Videos"
  } ],
  "paths" : {
    "/albums/{id}" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Get single album",
        "description" : "Retrieves album details by an unique id.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL album id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "251380836"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: artists, items, providers, similarAlbums",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "artists"
            }
          },
          "example" : "artists"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Single_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-single-album",
          "json-api-available-relationships" : [ "artists", "items", "providers", "similarAlbums" ]
        }
      }
    },
    "/albums" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Get all albums",
        "description" : "Retrieves all album details by available filters or without (if applicable).",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: artists, items, providers, similarAlbums",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "artists"
            }
          },
          "example" : "artists"
        }, {
          "name" : "filter[barcodeId]",
          "in" : "query",
          "description" : "Allows to filter the collection of resources based on barcodeId attribute value",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "196589525444"
            }
          },
          "example" : "196589525444"
        }, {
          "name" : "filter[id]",
          "in" : "query",
          "description" : "Allows to filter the collection of resources based on id attribute value",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "251380836"
            }
          },
          "example" : "251380836"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Multi_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-all-albums",
          "json-api-available-relationships" : [ "artists", "items", "providers", "similarAlbums" ],
          "json-api-available-filters" : [ {
            "name" : "barcodeId",
            "example" : "196589525444"
          }, {
            "name" : "id",
            "example" : "251380836"
          } ]
        }
      }
    },
    "/albums/{id}/relationships/artists" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Relationship: artists",
        "description" : "Retrieves artists relationship details of the related album resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL album id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "251380836"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: artists",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "artists"
            }
          },
          "example" : "artists"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-album-artists-relationship",
          "json-api-available-relationships" : [ "artists" ]
        }
      }
    },
    "/albums/{id}/relationships/items" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Relationship: items",
        "description" : "Retrieves items relationship details of the related album resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL album id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "251380836"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: items",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "items"
            }
          },
          "example" : "items"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-album-items-relationship",
          "json-api-available-relationships" : [ "items" ]
        }
      }
    },
    "/albums/{id}/relationships/providers" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Relationship: providers",
        "description" : "Retrieves providers relationship details of the related album resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL album id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "251380836"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: providers",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "providers"
            }
          },
          "example" : "providers"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-album-providers-relationship",
          "json-api-available-relationships" : [ "providers" ]
        }
      }
    },
    "/albums/{id}/relationships/similarAlbums" : {
      "get" : {
        "tags" : [ "Albums" ],
        "summary" : "Relationship: similarAlbums",
        "description" : "Retrieves similarAlbums relationship details of the related album resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL album id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "251380836"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: similarAlbums",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "similarAlbums"
            }
          },
          "example" : "similarAlbums"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Albums_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-album-similaralbums-relationship",
          "json-api-available-relationships" : [ "similarAlbums" ]
        }
      }
    },
    "/artistRoles/{id}" : {
      "get" : {
        "tags" : [ "ArtistRoles" ],
        "summary" : "Get single artistRole",
        "description" : "Retrieves artistRole details by an unique id.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist role id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArtistRoles_Single_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ]
      }
    },
    "/artistRoles" : {
      "get" : {
        "tags" : [ "ArtistRoles" ],
        "summary" : "Get all artistRoles",
        "description" : "Retrieves all artistRole details by available filters or without (if applicable).",
        "parameters" : [ {
          "name" : "filter[id]",
          "in" : "query",
          "description" : "Allows to filter the collection of resources based on id attribute value",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "1"
            }
          },
          "example" : "1"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArtistRoles_Multi_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-all-artistroles",
          "json-api-available-filters" : [ {
            "name" : "id",
            "example" : "1"
          } ]
        }
      }
    },
    "/artists/{id}" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Get single artist",
        "description" : "Retrieves artist details by an unique id.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1566"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: albums, radio, roles, similarArtists, trackProviders, tracks, videos",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "albums"
            }
          },
          "example" : "albums"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Single_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-single-artist",
          "json-api-available-relationships" : [ "albums", "radio", "roles", "similarArtists", "trackProviders", "tracks", "videos" ]
        }
      }
    },
    "/artists" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Get all artists",
        "description" : "Retrieves all artist details by available filters or without (if applicable).",
        "parameters" : [ {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: albums, radio, roles, similarArtists, trackProviders, tracks, videos",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "albums"
            }
          },
          "example" : "albums"
        }, {
          "name" : "filter[id]",
          "in" : "query",
          "description" : "Allows to filter the collection of resources based on id attribute value",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "1566"
            }
          },
          "example" : "1566"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Multi_Data_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-all-artists",
          "json-api-available-relationships" : [ "albums", "radio", "roles", "similarArtists", "trackProviders", "tracks", "videos" ],
          "json-api-available-filters" : [ {
            "name" : "id",
            "example" : "1566"
          } ]
        }
      }
    },
    "/artists/{id}/relationships/albums" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Relationship: albums",
        "description" : "Retrieves albums relationship details of the related artist resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1566"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: albums",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "albums"
            }
          },
          "example" : "albums"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-artist-albums-relationship",
          "json-api-available-relationships" : [ "albums" ]
        }
      }
    },
    "/artists/{id}/relationships/radio" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Relationship: radio",
        "description" : "Retrieves radio relationship details of the related artist resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1566"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: radio",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "radio"
            }
          },
          "example" : "radio"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-artist-radio-relationship",
          "json-api-available-relationships" : [ "radio" ]
        }
      }
    },
    "/artists/{id}/relationships/roles" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Relationship: roles",
        "description" : "Retrieves roles relationship details of the related artist resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1566"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: roles",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "roles"
            }
          },
          "example" : "roles"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unavailable_For_Legal_Reasons_Doc" : {
                    "$ref" : "#/components/examples/Unavailable_For_Legal_Reasons_Doc"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request on client party. Ensure the proper HTTP request is sent (query parameters, request body, etc.).",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Bad_Request_Error_Doc" : {
                    "$ref" : "#/components/examples/Bad_Request_Error_Doc"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error. Something went wrong on the server party.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Internal_Server_Error_Doc" : {
                    "$ref" : "#/components/examples/Internal_Server_Error_Doc"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Resource not found. The requested resource is not found.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Resource_Not_Found_Error_Doc" : {
                    "$ref" : "#/components/examples/Resource_Not_Found_Error_Doc"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported Media Type. The API is using content negotiation. Ensure the proper media type is set into Content-Type header.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Unsupported_Media_Type_Error_Doc" : {
                    "$ref" : "#/components/examples/Unsupported_Media_Type_Error_Doc"
                  }
                }
              }
            }
          },
          "405" : {
            "description" : "Method not supported. Ensure a proper HTTP method for an HTTP request is used.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Method_Not_Supported_Error_Doc" : {
                    "$ref" : "#/components/examples/Method_Not_Supported_Error_Doc"
                  }
                }
              }
            }
          },
          "406" : {
            "description" : "Not acceptable. The server doesn't support any of the requested by client acceptable content types.",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
                "examples" : {
                  "Not_Acceptable_Error_Doc" : {
                    "$ref" : "#/components/examples/Not_Acceptable_Error_Doc"
                  }
                }
              }
            }
          },
          "429" : {
            "description" : "Too many HTTP requests have been made within the allowed time.",
            "headers" : {
              "X-RateLimit-Remaining" : {
                "description" : "Number of tokens currently remaining. Refer to X-RateLimit-Replenish-Rate header for replenishment information.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Burst-Capacity" : {
                "description" : "Initial number of tokens, and max number of tokens that can be replenished.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "20"
              },
              "X-RateLimit-Replenish-Rate" : {
                "description" : "Number of tokens replenished per second.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              },
              "X-RateLimit-Requested-Tokens" : {
                "description" : "Request cost in tokens.",
                "required" : true,
                "schema" : {
                  "type" : "integer",
                  "format" : "int32"
                },
                "example" : "5"
              }
            }
          }
        },
        "security" : [ {
          "Client_Credentials" : [ ]
        }, {
          "Authorization_Code_PKCE" : [ ]
        } ],
        "x-endpoint-properties" : {
          "url-compatible-unique-name" : "get-artist-roles-relationship",
          "json-api-available-relationships" : [ "roles" ]
        }
      }
    },
    "/artists/{id}/relationships/similarArtists" : {
      "get" : {
        "tags" : [ "Artists" ],
        "summary" : "Relationship: similarArtists",
        "description" : "Retrieves similarArtists relationship details of the related artist resource.",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "TIDAL artist id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "1566"
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO 3166-1 alpha-2 country code",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "US"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Allows the client to customize which related resources should be returned. Available options: similarArtists",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : "similarArtists"
            }
          },
          "example" : "similarArtists"
        }, {
          "name" : "page[cursor]",
          "in" : "query",
          "description" : "Server-generated cursor value pointing a certain page of items. Optional, targets first page if not specified",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Artists_Multi_Data_Relationship_Document"
                }
              }
            }
          },
          "451" : {
            "description" : "Unavailable For Legal Reasons",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error_Document"
                },
[...]
